{% extends 'base.html' %}
{% load static %}
{% block extra %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block content %}
    <h2>{{ product.name }}</h2>
    <small>{{ product.created}}</small><br/>
    <p>{{product.price}} dollar </p>
    <img style="width: 18rem;" src="{{product.image.url}}">
    <p>{{product.description|safe}}</p><br/><br/>

<form action="{% url 'orders:cart_add' product.id %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="add to cart">
</form>

{% endblock %}